<% unless cart.line_items.empty? %>
<style>
	h2 {
		color:red
		
	}
</style>
<div><h2><b>Your Electric Cart</b></h2></div>
<table class="table"> 
    <tr>
		<th>Quantity</th>
		<th>Product</th>
		<th>Price</th>
	</tr>
	<%= render(cart.line_items) %>
	

	<tr>
		<td colspan="2">Total</td> 
		<td class="total_cell"><%= number_to_currency(cart.total_price)  %></td>
	</tr>

	<tr>
		<td><span class="btn"><%= button_to 'Delete cart', cart, :method => :delete, :confirm => 'Are you sure?' %></span></td>
		<td><%= link_to "Continue Shopping",:controller=>"gallery",:action=>"index" %></td>
		<td class="button"><% end %>
		<% if user_signed_in? %>
		<%= link_to "Checkout", gallery_checkout_path %>
		<% else %>
		<%= link_to "Checkout", new_user_session_path %>
		<% end %></td>
	</tr>
</table>



<% session[:amount] = cart.total_price%>
