<h1 style="color:green" ><b>Gallery Of Products<b></h1>

<table style="width:100%">
<tr>
<% count=0 %>
<% @electric_gallery.each do |e|%>

<% if (count % 4) == 0%>
</tr>
<tr style="height:200px">
<% end %>
<% count+=1 %>
<td><%= image_tag e.electric_image ,:height=>"100",:width=>"100" %><br />
<%= e.name %><br />
Price :<%= e.price %><br />
Brand : <%= e.brand %><br />
Material : <%= e.material %><br />
<%= button_to 'Buy now', line_items_path(:store_id => e.id)%>
 </td>
<% end %>
</tr>
</table>